/* universal selector */
*{
  font-family: 'Courier New';
}
/* --- */

/* element selector */
h3, h1{
  color: #b92b27;
}
/* --- */

/* id selector */
#login{
  background-color: white;
}

#signup{
  color: white;
  background-color: #b92b27;
}
/* --- */

/* class selector */
.upvote{
  background-color: green;
  color: aliceblue
}
/* --- */

/* descendant selector */
p a{
  color: purple;
  background-color: yellow;
}

.post a{
  background-color: orange;
}

nav ul li a{
  color: pink;
}
/* --- */

/* sibling combinator */
p + h3{
  text-decoration: underline;
}

.upvote + button{
  background-color: cornflowerblue;
  color: darkblue;
}
/* --- */