*{
  font-family: 'Courier New';
}

h3, h1{
  color: #b92b27;
}

#login{
  background-color: white;
}

#signup{
  color: white;
  background-color: #b92b27;
}

.upvote{
  background-color: green;
  color: aliceblue
}

/* descendant selector */
p a{
  color: purple;
  background-color: yellow;
}

.post a{
  background-color: orange;
}

nav ul li a{
  color: pink;
}